<?php $title = 'Flickr gallery'; ?>

<div id="demo-flickr">
	<h2><img src="http://l.yimg.com/g/images/en-us/flickr-yahoo-logo.png.v3" alt="Flickr" width="180" height="30" /> gallery</h2>
	<table cellspacing="0" cellpadding="0">
		<tr valign="middle">
			<td><a href="/photos/lasfotosdemikel/5228309359/"><img src="http://farm6.static.flickr.com/5042/5228309359_3fedf9f026_m.jpg" alt="Yoga by Mikel Alba (Scenes creation)" height="160" width="240"></a></td>
			<td><a href="/photos/25530364@N07/5226449493/"><img src="http://farm6.static.flickr.com/5289/5226449493_eb0581bf85_m.jpg" alt="Feliz Quinta flower!! :)) by ❉Parisienne" height="180" width="240"></a></td>
			<td><a href="/photos/mariannelomonaco/5231560637/"><img src="http://farm6.static.flickr.com/5246/5231560637_735f9430ef_m.jpg" alt="Day Three Hundred and Thirty Eight by MarianneLoMonaco" height="160" width="240"></a></td>
		</tr>
		<tr valign="middle">
			<td><a href="/photos/ccgd/5226746082/"><img src="http://farm6.static.flickr.com/5284/5226746082_297d1dfa54_m.jpg" alt="An Edinburgh Winter by ccgd" height="240" width="183"></a></td>
			<td><a href="/photos/schnoook/5232537826/"><img src="http://farm6.static.flickr.com/5290/5232537826_5d5768dc7e_m.jpg" alt="Daisies - Explore 35 by Luke_23" height="173" width="240"></a></td>
			<td><a href="/photos/nayara-oh/5228148781/"><img src="http://farm6.static.flickr.com/5001/5228148781_6b2621eb04_m.jpg" alt="Mi pequeño BonSai ! &lt;3 by [ Nayarisima ]" height="240" width="146"></a></td>
		</tr>
		<tr valign="middle">
			<td><a href="/photos/cordellia/5229739572/"><img src="http://farm6.static.flickr.com/5130/5229739572_ea849283d8_m.jpg" alt=" by Lara Alegre" height="159" width="240"></a></td>
			<td><a href="/photos/achauer/5230514055/"><img src="http://farm6.static.flickr.com/5087/5230514055_d00c36a563_m.jpg" alt="Lemons by Allison Achauer" height="159" width="240"></a></td>
			<td><a href="/photos/monicaecebolinha/5227603154/"><img src="http://farm6.static.flickr.com/5085/5227603154_5ae74eb196_m.jpg" alt="&quot;What have you been longing for?&quot; by Monica &amp; Cebolinha" height="160" width="240"></a></td>
		</tr>
	</table>
</div>

<style type="text/css">
.ui-tooltip-flickr{
	max-width: 700px;
}

	/* Adds the flickr favicon to the top right of the tooltip :) */
	.ui-tooltip-flickr .ui-tooltip-titlebar{
		background-image: url('http://l.yimg.com/g/favicon.ico');
		background-repeat: no-repeat;
		background-position: 97% 7px;
	}

	.ui-tooltip-flickr .ui-tooltip-title{
		padding-right: 0;
	}

	.ui-tooltip-flickr img{
		margin: 0 auto;
	}
</style>

<script class="example" type="text/javascript">
$(document).ready(function()
{
	$('td img').each(function() {
		var thumb = $(this).attr('src'),

		// We can grab the fullsize image by replacing the _m at the end of the filename
		full = thumb.replace('_m.jpg', '.jpg'),

		// Create the fullsize image with a link
		content = $('<a />', { 
			href: 'http://flickr.com' + $(this).parent().attr('href'),
			target: '_parent' // This is just so the links work in the demos section, you can take it out! :)
		})
		.append( $('<img />', { src: full }) );
		
		// Create the tooltip
		$(this).qtip({
			content: {
				text: content,
				title: {
					text: $(this).attr('alt') // Use the image ALT text for the title
				}
			},
			position: {
				my: 'center',
				at: 'center',
				adjust: { screen: true }
			},
			hide: {
				fixed: true
			},
			style: {
				classes: 'ui-tooltip-tipsy ui-tooltip-flickr'
			}
		});
	});
});
</script>