<?php $title = 'IP Geolocation'; ?>

<div class="geolocation">
	<a href="#" rel="ip">94.194.91.236</a>
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script class="example" type="text/javascript">
$(document).ready(function()
{
	var apikey = '3d26e08735f33e0cbc88e9841d51e1062f33f84aa77de3c27be83601891fa2c9';

	$('a[rel="ip"]').each(function() {
		var ip = $(this).text();
		
		$(this).qtip(
		{
			content: {
				text: 'Loading data...',
				ajax: {
					url: 'http://api.ipinfodb.com/v2/ip_query.php?callback=?',
					type: 'GET',
					dataType: 'jsonp',
					data: {
						ip: ip,
						key: apikey,
						timezone: false,
						output: 'json'
					},
					success: function(json) {
						var api = this, container, latlong, options, map, marker;

						// Create map container
						api.elements.content.html('<div id="map_canvas_'+api.id+'" style="width: 290px; height: 210px;"></div>');
						container = api.elements.content.children('div').eq(0);

						// Setup coordinate and options object
						latlong = new google.maps.LatLng(json.Latitude, json.Longitude);
						options = {
							zoom: 4,
							center: latlong,
							mapTypeId: google.maps.MapTypeId.ROADMAP
						};

						// Create map object and marker
						map = new google.maps.Map(document.getElementById('map_canvas_'+api.id), options);
						marker = new google.maps.Marker({
							position: latlong,
							map: map,
							clickable: true,
							title: [json.City, json.RegionName, json.CountryName].join(', ')
						});
						
						console.log(json, [json.CityName, json.RegionName, json.CountryName].join(', '))

						// Update tooltip  and return false to rpevent default content update
						api.reposition();
						return false;
					}
				}
			},
			show: 'click', // Show it on click
			hide: {
				delay: 200,
				fixed: true
			},
			style: {
				classes: 'ui-tooltip-green ui-tooltip-shadow ui-tooltip-googlemap'
			}
		});
	});
});
</script>



