<?php $title = 'Google Maps'; ?>

<div id="demo-googlemap">
	<h2>What map would you like to see?</h2>

	<div class="left">
		<img class="thumb" src="<?=IMAGES_DIR?>/demos/whitehouse.jpg" coords="38.89859,-77.035971" alt="The White House" />
		<div class="caption">The White house</div>
		<div class="credit">Credit: <a href="http://en.wikipedia.org/wiki/User:Wadester16">Wadester</a></div>
	</div>

	<div class="left">
		<img class="thumb" src="<?=IMAGES_DIR?>/demos/washingtonmomument.jpg" coords="38.8921,-77.033689" alt="Washington Monument" />
		<div class="caption">Washington Momument</div>
		<div class="credit">Credit: <a href="http://en.wikipedia.org/wiki/User:Diliff">Diliff</a></div>
	</div>

	<div class="left" style="margin-right: 0;">
		<img class="thumb" src="<?=IMAGES_DIR?>/demos/pentagon.jpg" coords="38.871008,-77.055979" alt="The Pentagon" />
		<div class="caption">The Pentagon</div>
		<div class="credit">Credit: Department of Defense</div>
	</div>

	<div class="clear">
</div>

<style type="text/css">
.ui-tooltip-googlemap .ui-tooltip-content{
	color: black;
}
</style>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" class="example">
$(document).ready(function()
{
	// Only match those elements with coordinate attributes
	$(document.body).qtip({
		content: {
			text: 'Loading map...', // Display a loading message whilst the map loads
			title: {
				text: 'Loading...',
				button: true
			}
		},
		position: {
			my: 'center', // Center it...
			at: 'center',
			target: $(window) // ...in the window
		},
		show: {
			target: $('[coords]'),
			event: 'click', // Show on click
			modal: true // Make it modal i.e. darken the rest of the document
		},
		hide: false,
		style: {
			classes: 'ui-tooltip-jtools ui-tooltip-googlemap ui-tooltip-shadow'
		},
		events: {
			render : function(event, api)
			{
				// Create map container
				api.elements.content.html('<div id="map_canvas_'+api.id+'" style="width: 600px; height: 450px;"></div>');
				var container = api.elements.content.children('div').eq(0);

				// Create map object as api attribute for later use
				api.map = new google.maps.Map(document.getElementById('map_canvas_'+api.id), {
					zoom: 15,
					mapTypeId: google.maps.MapTypeId.TERRAIN
				});
				
				api.focus = $.noop;
				api.elements.tooltip.removeClass('qtip');
			},
			show: function(event, api)
			{
				// Grab the map reference and event target
				var map = api.map,
					target = $(event.originalEvent.target),
					title = target.attr('alt'),
					coords, latlong, map, marker, info;

				// Parse coordinates of event target and set new title
				coords = target.attr('coords').split(',');
				api.set('content.title.text', title);

				// Setup coordinate and pan to latlong coords
				latlong = new google.maps.LatLng(parseFloat(coords[0]), parseFloat(coords[1]));
				map.setCenter(latlong);

				// Create marker at the new location
				marker = new google.maps.Marker({
					position: latlong,
					map: map,
					title: title // Use the image alt text for the title
				});
			}
		}
	});
});
</script>
