<?php $title = 'IMDb Rating'; ?>

<div id="demo-imdb">
	<h2>Some of my favourite films</h2>

	<ul>
		<li><a href="http://www.imdb.com/title/tt0111161/" target="_parent">The Shawshank Redemption</a> (1994)</a></li>
		<li><a href="http://www.imdb.com/title/tt0120689/" target="_parent">The Green Mile</a> (1999)</a></li>
		<li><a href="http://www.imdb.com/title/tt1375666/" target="_parent">Inception</a> (2010)</a></li>
		<li><a href="http://www.imdb.com/title/tt0071562/" target="_parent">The Godfather: Part II</a> (1974)</a></li>
		<li><a href="http://www.imdb.com/title/tt0375679/" target="_parent">Crash</a> (2004)</a></li>
		<li><a href="http://www.imdb.com/title/tt0468569/" target="_parent">The Dark Knight</a> (2008)</a></li>
		<li><a href="http://www.imdb.com/title/tt0110912/" target="_parent">Pulp Fiction</a> (1994)</a></li>
		<li><a href="http://www.imdb.com/title/tt0137523/" target="_parent">Fight Club</a> (1999)</a></li>
		<li><a href="http://www.imdb.com/title/tt0167260/" target="_parent">The Lord of the Rings: The Return of the King</a> (2003)</a></li>
		<li><a href="http://www.imdb.com/title/tt1119646/" target="_parent">The Hangover</a> (2009)</a></li>
	</ul>

	<p>
		Mouse over them to see their <img src="<?=IMAGES_DIR?>demos/imdb_logo.png" alt="IMDB" width="31" height="15" /> rating appear!
	</p>
</div>

<script class="example" type="text/javascript">
$(document).ready(function()
{
	/* 
	 * This should point to a script that parse an IMDb movie ID and returns the
	 * rating of the movie in JSON format. To do this I used IMDbPHP2, which can be
	 * be found here: http://projects.izzysoft.de/trac/imdbphp
	 
	 * This script should be located on the same server as this JavaScript.
	 */
	var url = '<?=WEB_DIR?>/data/imdb.php';

	// Only match IMDb links
	$('a[href^=http://www.imdb.com]').each(function() {
		// Grab IMDB ID
		var id = $(this).attr('href').match(/tt([0-9]{7})/);
		if(id.length < 2) { return true; } // Continue to next element if we can't find the id

		// Setup the tooltip...
		$(this).qtip(
		{
			content: {
				text: 'Rating...', // Generic loading message so we know the data is coming.
				ajax: {
					url: url,
					data: { id: id[1] }, // Pass the IMDB ID
					dataType: 'json', // The script returns JSON
					success: function(json) {
						// Set the tooltip content
						var content = '<img src="<?=IMAGES_DIR?>demos/imdb_logo.png" alt="IMDB Rating:" width="31" height="15" />' + json.rating;
						this.set('content.text', content);

						return false; // Prevent default content update
					}
				}
			},
			position: {
				my: 'left center',
				at: 'right center'
			},
			style: {
				classes: 'ui-tooltip-imdb ui-tooltip-tipsy ui-tooltip-shadow',
				tip: {
					corner: true,
					height: 8,
					width: 6
				}
			}
		})
	});
});
</script>


