<div id="contentheader">
<div class="center">
	<h2 class="left">Live Demos</h2>

	<div class="toolbar">
		<a class="source button" href="#"><span class="ui-icon ui-icon-script"></span> View source</a>
		<a class="download button" href="#"><span class="ui-icon ui-icon-folder-collapsed"></span> Download</a>
		<a class="popout button" href="#"><span class="ui-icon ui-icon-newwin"></span> Pop-out</a>
		<div class="clear">&nbsp;</div>
	</div>

	<div class="clear">&nbsp;</div>
</div>
</div>

<div id="content">
<div class="center">
	<div id="demopanel">
		<div class="demo-list">
			<div class="accordion">
				<h3><a href="#">Integrated features</a></h3>
				<ul>
					<li><a href="<?=WEB_DIR?>/demos/tips" rel="Draw attention to the element the tooltip is referring to using qTip2's speech bubble tips.">Speech bubble tips</a></li>
					<li><a href="<?=WEB_DIR?>/demos/ajax" rel="Utilise qTip2's built-in AJAX plugin to grab content from other pages asynchronously.">AJAX</a></li>
					<li><a href="<?=WEB_DIR?>/demos/modal" rel="With the built-in modal plugin, you can create qTip's that perform the same tasks as a modal dialogue.">Modal dialogue</a></li>
					<li><a href="<?=WEB_DIR?>/demos/imagemap" rel="Using qTip2's built-in imagemap support, we can even position our tooltips in relation to area elements.">Image maps</a></li>
				</ul>

				<h3><a href="#">Web Services</a></h3>
				<ul>
					<li><a href="<?=WEB_DIR?>/demos/flickr" rel="Setup a simple Flickr gallery with fullsize image mouseovers.">Flickr</a></li>
					<li><a href="<?=WEB_DIR?>/demos/websitethumbnail" rel="Allow users to see thumbnails of any site you link to using the WebSnappr API.">WebSnappr thumbnails</a></li>
					<li><a href="<?=WEB_DIR?>/demos/microblogging" rel="Let users see the most recent tweet or buzz of any Twitter/Buzz usernames linked to on the page.">Microblogging</a></li>
				</ul>

				<h3><a href="#">Data-orientated</a></h3>
				<ul>
					<li><a href="<?=WEB_DIR?>/demos/forum" rel="See an example of how you can easily integrate qTip2 into forum software to provide user details on avatar mouseover.">Forum integration</a></li>
					<li><a href="<?=WEB_DIR?>/demos/geolocation" rel="Allow users to click and view a Google Map of an IP's geolocation.">IP Geolocation</a></li>
					<li><a href="<?=WEB_DIR?>/demos/imdb" rel="Allow users to see the IMDb film rating for any films linked to on the page.">IMDb Rating</a></li>
				</ul>

				<h3><a href="#">Plugin integration</a></h3>
				<ul>
					<li><a href="<?=WEB_DIR?>/demos/validation" rel="Integrate qTip's into the jQuery Validation plugin to supply users with details about errors in their forms.">Validation</a></li>
					<li><a href="<?=WEB_DIR?>/demos/metadata" rel="Utilise the jQuery metadata plugin to provide qTip2 configurations via the target elements themselves!">Metadata</a></li>
					<li><a href="<?=WEB_DIR?>/demos/youtubepreview" rel="Allow users to preview any YouTube videos linked to on your page using the YouTube API.">YouTube Preview</a></li>
					<li><a href="<?=WEB_DIR?>/demos/googletranslate" rel="Use Google's Translation API to let users select any text on the page and have an instant translation appear!">Google Translate</a></li>
					<li><a href="<?=WEB_DIR?>/demos/googlemap" rel="Store coordinates on your elements and display a Google Map of their whereabouts on click.">Google Maps</a></li>
					<li><a href="<?=WEB_DIR?>/demos/jmonthcalendar" rel="Integrate qTip2 into your jMonthCalendar to supply event details, just like Google Calendar!">jMonthCalendar</a></li>
					<li><a href="<?=WEB_DIR?>/demos/flot" rel="Charts often need annotation, so why not integrate qTip2 into flot and provide an interactive experience for your users?">flot charts</a></li>
				</ul>

				<h3><a href="#">jQuery UI</a></h3>
				<ul>
					<li><a href="<?=WEB_DIR?>/demos/themeroller" rel="Utilise the jQuery ThemeRoller framework to style your qTip's!">ThemeRoller</a></li>
					<li><a href="<?=WEB_DIR?>/demos/ui-tabs" rel="Utilise qTip inside jQuery UI tab content.">Tabs</a></li>
					<li><a href="<?=WEB_DIR?>/demos/ui-slider" rel="Utilise qTip to display your UI Slider value.">Slider</a></li>
				</ul>

				<h3 class="lasty"><a href="#">Use as other widgets</a></h3>
				<ul>
					<li><a href="<?=WEB_DIR?>/demos/navbar" rel="Create simple dropdown menus for your navigation bars.">Dropdown menu</a></li>
					<li><a href="<?=WEB_DIR?>/demos/growl" rel="Simulate the jGrowl plugin with the qTip2 library via use of the in-built API.">jGrowl</a></li>
				</ul>
			</div>

			<div class="demo-description">
				Choose a demo from above
			</div>
		</div>

		<div id="demoframe">
			<div id="loading"></div>

			<iframe class="demo" style="display: block;">&nbsp;</iframe>
			<iframe class="source" style="display: none;">&nbsp;</iframe>
		</div>
		<div class="clear">&nbsp;</div>
	</div>

	<div class="clear">&nbsp;</div>
</div>
</div>