<?php $title = 'Modal dialogue'; ?>

<div id="demo-modal">
	<button>Click here</a> to see a qTip modal dialogue.</button>

	<div style="display: none;">
		Heres an example of a rather bizarre use for qTip... as a <b>modal dialogue</b>!
		<br /><br />
		Much like the <a href="http://onehackoranother.com/projects/jquery/boxy/">Boxy</a> plugin, but if you're already
		using qTip on your page, why not utilise the same library for your dailogues too?
	</div>
</div>

<script class="example" type="text/javascript">
$(document).ready(function()
{
	$('button').qtip(
	{
		content: {
			text: $('div:hidden'),
			title: {
				text: 'Modal qTip',
				button: true
			}
		},
		position: {
			my: 'center', // ...at the center of the viewport
			at: 'center',
			target: $(window)
		},
		show: {
			event: 'click', // Show it on click
			solo: true, // And hide all other tooltips
			modal: true // Make it modal
		},
		hide: false,
		style: {
			classes: 'ui-tooltip-light ui-tooltip-modal ui-tooltip-rounded'
		}
	});
});
</script>