<?php $title = 'Navigation bar'; ?>

<div id="navbar">
	<ul>
		<li><a href="#">Home</a></li>
		<li>
			<a href="#">News</a>
			<ul class="submenu">
				<li><a href="#">November</a></li>
				<li><a href="#">October</a></li>
				<li><a href="#">September</a></li>
			</ul>
		</li>
		<li>
			<a href="#">Downloads</a>
			<ul class="submenu">
				<li><a href="#">Themes</a></li>
				<li><a href="#">Ringtones</a></li>
				<li><a href="#">Wallpapers</a></li>
			</ul>
		</li>
		<li><a href="#">Users</a></li>
		<li><a href="#">Contact us</a></li>
	</ul>
	<div class="clear"></div>
</div>

<style type="text/css">
.clear{
	clear: both;
	height: 1px;
	overflow: hidden;
}

#navbar{
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	
	background-color: #444;
	
	box-shadow: -10px 2px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: -10px 2px 10px rgba(0,0,0,0.3);
}

	#navbar ul{
		padding: 0 20px;
	}

	#navbar li{
		float: left;
	}

	#navbar li a{
		display: block;
		padding: 7px 22px 7px 6px;
	}
	
	#navbar ul ul{
		display: none;
	}

.ui-tooltip-navbar{
	max-width: 200px;
}

	.ui-tooltip-navbar .ui-tooltip-wrapper{
		background-color: #444;
		border-width: 0;
		
		-moz-border-radius: 0 0 8px 8px;
		-webkit-border-radius: 0 0 8px 8px;
		border-radius: 0 0 8px 8px;
	}
	
	.ui-tooltip-navbar .ui-tooltip-content{
		padding: 2px 15px 10px 6px;
	}
</style>

<script class="example" type="text/javascript">
$(document).ready(function()
{
	$('ul a + ul').each(function() {
		// Create the tooltip
		$(this).prev('a').qtip({
			content: {
				text: $(this)
			},
			position: {
				my: 'top left',
				at: 'bottom left'
			},
			hide: {
				fixed: true
			},
			style: {
				classes: 'ui-tooltip-navbar',
				tip: false
			}
		});
	});
});
</script>