<div id="contentheader">
<div class="center">
	<h2>Live Demos</h2>
</div>
</div>

<div id="content">
<div class="center">


	<div id="demopanel">
		<ul id="demotabs">
			<li><a href="#demolist-core">Core features</a></li>
			<li><a href="#demolist-plugins">Plugin integration</a></li>
		</ul>
		<div id="demolist">
			<ul id="demolist-core">
				<li><a href="<?=WEB_DIR?>/demos/ajax">AJAX Content</a></li>
				<li><a href="<?=WEB_DIR?>/demos/tips">Speech bubble tips</a></li>
				<li><a href="<?=WEB_DIR?>/demos/modal">Modal qTips</a></li>
				<li><a href="<?=WEB_DIR?>/demos/imagemap">Image maps</a></li>
			</ul>
			
			<ul id="demolist-plugins">
				<li><a href="<?=WEB_DIR?>/demos/validation">Validation</a></li>
				<li><a href="<?=WEB_DIR?>/demos/metadata">Metadata</a></li>
				<li><a href="<?=WEB_DIR?>/demos/youtubepreview">YouTube Preview</a></li>
				<li><a href="<?=WEB_DIR?>/demos/googletranslate">Google Translate</a></li>
				<li><a href="<?=WEB_DIR?>/demos/googlemap">Google Maps</a></li>
				<li><a href="<?=WEB_DIR?>/demos/jmonthcalendar">jMonthCalendar</a></li>
				<li><a href="<?=WEB_DIR?>/demos/flot">fl0t charts</a></li>
				<li><a href="<?=WEB_DIR?>/demos/tablesorter">TableSorter</a></li>
				<li><a href="<?=WEB_DIR?>/demos/forum">Forum integration</a></li>
				<li><a href="<?=WEB_DIR?>/demos/growl">jGrowl</a></li>
				<li><a href="<?=WEB_DIR?>/demos/websitethumbnail">Website Thumbnails</a></li>
			</ul>
		</div>
		<div class="clear">&nbsp;</div>

		<div id="demoframe">
			<div id="loading">
				<img src="<?=IMAGES_DIR?>/loading.gif" alt="Loading..." />
			</div>

			<a class="right source button" href="#">View Source</a>

			<iframe class="demo" style="display: block;"></iframe>
			<iframe class="source" style="display: none;"></iframe>
		</div>
	</div>

	<div class="clear">&nbsp;</div>
</div>
</div>