<?php $title_for_layout = 'jQuery UI Slider'; ?>

<div id="demo-slider"></div>

<script type="text/javascript" class="example">
$(document).ready(function()
{
	/* Cache a reference to our slider element */
	var slider = $('#demo-slider')

	/* Create the slider */
	.slider({
		slide: function() {
			var val = slider.slider('option', 'value');

			handle.qtip('option', 'content.text', val)
		}
	}),

	/* Grab and cache the newly created slider handle */
	handle = $('.ui-slider-handle', slider);

	/* 
	 * Selector needs changing here to match your elements.
	 * 
	 * Notice the second argument to the $() constructor, which tells
	 * jQuery to use that as the top-level element to seareh down from.
	 */
	handle.qtip({
		content: '' + slider.slider('option', 'value'), // Use the current value of the slider
		position: {
			my: 'bottom center',
			at: 'top center',
			container: handle
		},
		show: {
			when: false,
			ready: true
		},
		hide: false,
		style: {
			widget: true // Make it ThemeRoller compliant
		}
	});
});
</script>