<link type="text/css" rel="stylesheet" href="<?=CSS_DIR?>/validation.css" />
<?php $title = 'Validation'; ?>

<form id="MyForm" autocomplete="off" enctype="multipart/form-data" method="post" action="#public">
	<h2>Buy a qTip T-Shirt!</h2>
	<ul>
		<li id="section1" class="section left">
			<label class="desc" id="title1" for="Field1">Size <span class="req">*</span></label>
			<div>
				<select id="Field1" name="size" class="field select medium" tabindex="2">
					<option value="Small">Small</option>
					<option value="Medium">Medium</option>
					<option value="Large">Large</option>
					<option value="X-Large">X-Large</option>
				</select>
			</div>
		</li>
		<li id="section2" class="section">
			<label class="desc" id="title2" for="Field2">Color <span class="req">*</span></label>
			<div>
				<select id="Field2" name="colour" class="field select medium" tabindex="3">
					<option value="Red">Red</option>
					<option value="Blue">Blue</option>
					<option value="Green">Green</option>
					<option value="Black">Black</option>
				</select>
			</div>
		</li>
		<li class="sep">&nbsp;</li>

		<li id="section3" class="section">
			<label class="desc" id="title3" for="Field3">Name <span class="req">*</span></label>
			<span class="left">
				<input id="Field3" name="firstName" type="text" class="field text" value="" tabindex="4" maxlength="20" />
				<label for="Field3">First</label>
			</span>

			<span class="right">
				<input id="Field4" name="lastName" type="text" class="field text" value="" tabindex="5" maxlength="40" />
				<label for="Field4">Last</label>
			</span>
		</li>

		<li id="section11" class="section">
			<label class="desc" id="title11" for="Field11">Email <span class="req">*</span></label>
			<div>
				<input id="Field11" name="email" type="text" class="field text medium" value="" maxlength="255" tabindex="6" maxlength="50" />
			</div>
		</li>
		<li class="sep">&nbsp;</li>

		<li id="section5" class="section">
			<label class="desc" id="title5" for="Field5">Address <span class="req">*</span></label>
			<div>
				<span class="full">
					<input id="Field5" name="address1" type="text" class="field text addr" value="" tabindex="7" maxlength="30" />
					<label for="Field5">Street Address</label>
				</span>
				<span class="full">
					<input id="Field6" name="address2" type="text" class="field text addr" value="" tabindex="8" maxlength="30" />
					<label for="Field6">Address Line 2</label>
				</span>
				<span class="left">
					<input id="Field7" name="city" type="text" class="field text addr" value="" tabindex="9" maxlength="17" />
					<label for="Field7">City</label>
				</span>
				<span class="right">
					<input id="Field8" name="state" type="text" class="field text addr" value="" tabindex="10" maxlength="20" />
					<label for="Field8">State / Province / Region</label>
				</span>
				<span class="left">
					<input id="Field9" name="zip" type="text" class="field text addr" value="" maxlength="15" tabindex="11" />
					<label for="Field9">Postal / Zip Code</label>
				</span>
				<span class="right">
					<select id="Field10" name="country" class="field select addr" tabindex="12">
						<option value="United Kingdom">
							United Kingdom
						</option>
						<option value="Ireland">
							Ireland
						</option>
						<option value="United States">
							United States
						</option>
						<option value="Canada">
							Canada
						</option>
					</select>
					<label for="Field10">Country</label>
				</span>
			</div>
		</li>
		<li class="sep">&nbsp;</li>

		<li class="buttons">
			<input class="submit" type="submit" value="Submit order" />
		</li>
	</ul>
</form>


<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.validate/1.6/jquery.validate.pack.js"></script>
<script type="text/javascript" class="example">
$(document).ready(function()
{
	var myForm = $('form:first');

	myForm.validate({
			errorClass: "errormessage",
			onkeyup: false,
			errorClass: 'error',
			validClass: 'valid',
			rules: {
				firstName: { required: true, minlength: 3 },
				lastName: { required: true, minlength: 3 },
				email: { required: true, email: true },
				address1: { required: true, minlength: 5 },
				address2: { required: true, minlength: 5 },
				city: { required: true, minlength: 2 },
				state: { required: true, minlength: 3 },
				zip: { required: true, minlength: 3 }
			},
			success: function(error)
			{
				// Use a mini timeout to make sure the tooltip is rendred before hiding it
				setTimeout(function() {
					myForm.find('.valid').qtip('destroy');
				}, 1);
			},
			errorPlacement: function(error, element)
			{
				var corners = ['left center', 'right center'],
					flipIt = $(element).parents('span.right').length > 0,
					position = {
						my: corners[ flipIt ? 0 : 1 ],
						at: corners[ flipIt ? 1 : 0 ]
					};

				$(element).filter(':not(.valid)').qtip({
					overwrite: false,
					content: error,
					position: position,
					show: {
						event: false,
						ready: true
					},
					hide: false,
					style: {
						tip: true,
						classes: 'ui-tooltip-red'
					}
				});
			}
	})
});
</script>