<?php $title = 'Youtube preview' ?>

<div class="youtube">
	<h3 style="margin-top: 0;">Inline YouTube previews</h3>
	<div class="clear">&nbsp;</div>

	<img class="left" src="<?=IMAGES_DIR?>/greathornedowl.jpg" alt="" title="Great Horned Owl" />
	<img class="right" src="<?=IMAGES_DIR?>/maskedowl.jpg" alt="" title="Masked Owl" />

	<p>Owls have large forward-facing eyes and ear-holes, a hawk-like beak, a flat face, and usually a conspicuous circle of feathers around each eye called a facial disc. Although owls have binocular vision, their large eyes are fixed in their sockets, as with other birds, and they must turn their entire head to change views.</p>

	<p>The smallest owl is the <a href="http://www.youtube.com/watch?v=GMTedU1tkwQ&feature=related">Elf Owl</a>, at as little as 31 g and 13.5 cm. Some of the pygmy owls are scarcely larger than this. The largest owls are Eagle owls, the <a href="http://www.youtube.com/watch?v=CAvYGHhdkPo">Eurasian Eagle Owl</a> and <a href="http://www.youtube.com/watch?v=1knmiokkW0A">Blakiston's Fish Owl</a>, which may reach a size of 60cm to 71cm long, have a wingspan of almost 2m, and weight of nearly 4.5 kg.</p>

	<p>Most owls are nocturnal, actively hunting for prey only under the cover of darkness. Several types of owl, however, are active during the twilight hours of dawn and dusk; one example is the <a href="http://www.youtube.com/watch?v=eT_0hC4cyLg">Pygmy Owl</a>. A few are also active during the day; the <a href="http://www.youtube.com/watch?v=8TL8pSFd-hQ">Burrowing Owl</a> and the <a href="http://www.youtube.com/watch?v=Z6jcJ69BsMA&feature=related">Short-eared Owl</a>. The time at which an owl hunts is correlated with the colour of its eyes: dark brown or black eyes indicate nocturnal activity, orange indicates dawn or dusk, and owls with yellow eyes are diurnal and hunt during the day.</p>

	<p class="attribution">
		<span><b>Source:</b> <a href="http://en.wikipedia.org/wiki/Owl">Wikipedia</a></span>
		<span><b>Photo 1:</b> <a href="http://commons.wikimedia.org/wiki/User:Sandstein">Sandstein</a> - <a href="http://creativecommons.org/licenses/by/2.0/">CC 2.0 Attribution license.</a></span>
		<span><b>Photo 2:</b> <a href="http://commons.wikimedia.org/wiki/User:Benjamint444">Benjamint444</a> - <a href="http://www.gnu.org/copyleft/fdl.html">GFDL license.</a></span>
	</p>
</div>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js"></script>
<script class="example" type="text/javascript">
$(document).ready(function()
{
	// Use each method to gain access to all youtube links
	$('a[href*="youtube."]').each(function()
	{
		// Grab video ID from the url
		var videoID = $(this).attr('href').match(/watch\?v=(.+)+/);
		videoID = videoID[1];

		$(this).qtip(
		{
			// Use the video ID to identify the tooltip
			id: videoID,

			// Stick in some dummy content for people without Flash installed
			content: 'You need Flash player 8+ to view this video',
			position: {
				at: 'bottom center',
				my: 'top center'
			},
			show: {
				event: 'click', // Show it on click...
				solo: true // ...and hide all others when its shown
			},
			hide: 'unfocus', // Hide when the tooltip loses focus
			style: {
				tip: true,
				classes: 'ui-tooltip-youtube ui-tooltip-youtubepreview' // Use a custom youtubepreview tooltip class
			},
			events: {
				render: function(event, api)
				{
					// Setup video paramters
					var params = { allowScriptAccess: 'always', allowfullScreen: 'false', wmode: 'transparent' },
						attrs = { id: 'youtube-video-'+videoID },
						url = 'http://www.youtube.com/v/'+videoID+'&autoplay=1&enablejsapi=1&playerapiid=youtube-api-'+videoID,
						id = 'ui-tooltip-'+videoID+'-content'; // Tooltip ID

					// Embed the youtube video using SWFObject script
					swfobject.embedSWF(url, id, '275', '180', '8', null, null, params, attrs);
				},

				hide: function(event, api){
					// Grab video via ID defined in attrs object above
					var playerAPI = document.getElementById('youtube-video-'+videoID);

					// Pause the video when tooltip is hidden
					if(playerAPI && playerAPI.pauseVideo) {
						playerAPI.pauseVideo();
					}
				}
			}
		}
		).attr('href', '#');
	});
});
</script>