
#footer
	.links.part
		.column
			h4 Links
			ul
				li: a(href='http://github.com/craga89/qtip2', title='Check-out nightly releases') GitHub repository
				li: a(href='http://plugins.jquery.com/project/qtip2') jQuery plugin project

		.column
			h4 Help
			ul
				li: a(href='http://craigsworks.com/projects/forums/forum-qtip2') Support forum
				li: a(href='#{url("/faq")}') Frequent questions
				li: a(href='http://github.com/craga89/qtip2/issues') Report a bug

		.column
			h4 Author
			ul
				li: a(href='http://craigsworks.com') Portfolio
				li: a(href='http://craigsworks.com/projects') Other projects
				li: a(href='mailto:craig@craigsworks.com') Contact

		.column
			h4 More
			ul
				li
					a(href='http://craigsworks.com/projects/qtip', title='Predecessor to qTip2') qTip 
					b(style='font-size: 11px;') [Old plugin]
				li
					a(href='http://craigsworks.com/projects/simpletip', title='Predecessor to qTip') Simpletip 
					b(style='font-size: 11px;') [Old<i>er</i> plugin]

		.column
			a(name='thanks')
			h4.title Special thanks
			ul.info.thanks.border
				li: a(href='http://www.creativaconsulting.com/', title='Made incredibly generous donations over the years that have covered server costs and domain registrations!') Creativa Consulting
				li: a(href='http://binaryvision.net', title='Invaluable help with the new code highlighter.') Ed Cradock
				li: a(href='http://craigsworks.com/projects/forums/user-aaronbarker', title='Filing tonnes of bug fixes and ARIA patches!') Aaron Barker
				li: a(href='http://www.cannonaccess.com/', title='Accessibility consultant that helped qTip2 become ARIA friendly') Aaron Cannon
				li: a(href='http://craigsworks.com/projects/forums/user-kiddailey', title='Reporting quite a few bugs and patches.') kiddailey

	.copyright.part
		| &copy; 
		a(href='http://craigsworks.com') Craig Thompson 
		| 2013 —
		i Textual 
		| content is dedicated to the 
		a(href='http://creativecommons.org/publicdomain/zero/1.0/') public domain
		| . 
		mixin logo()
		|  graphics, logos and designs are released under the 
		a(href='http://creativecommons.org/licenses/by/3.0/') CC Attribution 3.0 license
