<?php $this->renderElement('docs_nav'); ?>

	<div id="contentheader">
   <div class="center">
      <h2>Documentation - 1.0 series</h2>
      <ul class="index">
         <li class="left">
            <h4><a href="<?=WEB_DIR?>/docs/1.0/">Getting started</a></h4>
            <ul class="subindex">
               <li><a href="<?=WEB_DIR?>/docs/1.0/#requirements">Requirements</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/#downloading">Downloading qTip</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/#installation">Installation</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/#structure">HTML structure</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/#create">Creating a tooltip</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/#replace">Replacing title tooltips</a></li>
            </ul>
         </li>
         <li class="left">
            <h4><a href="<?=WEB_DIR?>/docs/1.0/tutorials/">Tutorials</a></h4>
            <ul class="subindex">
               <li><a href="<?=WEB_DIR?>/docs/1.0/tutorials/#position">Positioning</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/tutorials/#styling">Styling</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/tutorials/#borders">Borders</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/tutorials/#tips">Tips</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/tutorials/#dynamic">Dynamic content</a></li>
               <li><a href="/projects/forums/forum-tutorials-and-how-to-s">User submitted</a></li>
            </ul>
         </li>
         <li class="left">
            <h4><a href="<?=WEB_DIR?>/docs/1.0/reference/">Option Reference</a></h4>
            <ul class="subindex">
               <li><a href="<?=WEB_DIR?>/docs/1.0/reference/#content">Content</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/reference/#position">Position</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/reference/#show">Show</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/reference/#hide">Hide</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/reference/#style">Style</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/reference/#api">API</a></li>
            </ul>
         </li>
         <li class="left">
            <h4><a href="<?=WEB_DIR?>/docs/1.0/api/">API Reference</a></h4>
            <ul class="subindex">
               <li><a href="<?=WEB_DIR?>/docs/1.0/api/#shortcuts">Shortcut methods</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/api/#access">Accessing the API</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/api/#methods">Methods</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/api/#callbacks">Callbacks</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/api/#attributes">Attributes</a></li>
            </ul>
         </li>
         <li class="left">
            <h4><a href="<?=WEB_DIR?>/docs/1.0/support/">Support</a></h4>
            <ul class="subindex">
               <li><a href="<?=WEB_DIR?>/docs/1.0/support/#faq">FAQ</a></li>
               <li><a href="/projects/qtip/forum/">User forum</a></li>
               <li><a href="http://bugs.launchpad.net/qtip/1.0/"><b>Submit a bug report</b></a></li>
               <li><a href="<?=WEB_DIR?>/donate/">Make a donation</a></li>
               <li><a href="<?=WEB_DIR?>/docs/1.0/support/#contact">Contact me</a></li>
            </ul>
         </li>
      </ul>

      <div class="clear">&nbsp;</div>
   </div>
   </div>