#where
	.center
		form(action='#{url("where/")}', method='post')
			| Hello! My name's
			input.name(name='name', type='text', maxlength='40')
			| ,
			| I'm using qTip at http://
			input.url(name='where', type='text', maxlength='250')
			| and I think it's
			input.comments(name='comment', type='text', maxlength='70')
			| !

			button
				| Ok... done! Send
				i send
				b send!

			p.note
				b Note:
				| Points will be deducted for bad grammar and spelling... and sentences that make no sense!
