	<div id="contentheader">
	<div class="center">
		<h2>Documentation</h2>
		<ul class="index">
			<li class="left long" style="border-left: 0; padding-left: 0;">
				<h4><a href="<?=WEB_DIR?>/docs/">Getting started</a></h4>
				<ul class="subindex">
					<li><a href="<?=WEB_DIR?>/docs/#requirements">Requirements</a></li>
					<li><a href="<?=WEB_DIR?>/docs/#upgrading">Upgrading from 1.0</a></li>
					<li><a href="<?=WEB_DIR?>/docs/#downloading">Downloading</a></li>
					<li><a href="<?=WEB_DIR?>/docs/#installation">Installation</a></li>
					<li><a href="<?=WEB_DIR?>/docs/#create">Create a qTip</a></li>
					<li><a href="<?=WEB_DIR?>/docs/#faq">Frequent Questions</a></li>
				</ul>
			</li>
			<li class="left short">
				<h4>Options</h4>
				<ul class="subindex">
					<li><a href="<?=WEB_DIR?>/docs/core/">Core</a></li>
					<li><a href="<?=WEB_DIR?>/docs/content/">Content</a></li>
					<li><a href="<?=WEB_DIR?>/docs/position/">Position</a></li>
					<li><a href="<?=WEB_DIR?>/docs/show/">Show</a></li>
					<li><a href="<?=WEB_DIR?>/docs/hide/">Hide</a></li>
					<li><a href="<?=WEB_DIR?>/docs/style/">Style</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/events/">Events</a></li>
					<li><a href="<?=WEB_DIR?>/docs/global/">Global</a></li>
				</ul>
			</li>
			<li class="left">
				<h4>Plugins</h4>
				<ul class="subindex">
					<li><a href="<?=WEB_DIR?>/docs/plugins/ajax/">AJAX</a></li>
					<li><a href="<?=WEB_DIR?>/docs/plugins/tips/">Tips</a></li>
					<li><a href="<?=WEB_DIR?>/docs/plugins/modal/">Modal</a></li>
					<li><a href="<?=WEB_DIR?>/docs/plugins/imagemap/">Imagemap</a></li>
					<li><a href="<?=WEB_DIR?>/docs/plugins/svg/">SVG</a></li>
					<li><a href="<?=WEB_DIR?>/docs/plugins/bgiframe/">IE6 bgiframe</a></li>
				</ul>
			</li>

			<li class="right" style="padding-right: 0;">
				<h4><a href="<?=WEB_DIR?>/docs/api/events/">API Events</a></h4>
				<ul class="subindex">
					<li><a href="<?=WEB_DIR?>/docs/api/events/#introduction">Binding events</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/events/#preventDefault">event.preventDefault()</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/events/#originalEvent">event.originalEvent</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/events/#render">render</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/events/#show">show</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/events/#hide">hide</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/events/#toggle">toggle</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/events/#visible">visible</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/events/#hidden">hidden</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/events/#focus">focus</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/events/#blur">blur</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/events/#move">move</a></li>
				</ul>
			</li>
			<li class="right">
				<h4><a href="<?=WEB_DIR?>/docs/api/">API</a></h4>
				<ul class="subindex">
					<li><a href="<?=WEB_DIR?>/docs/api/#introduction">Introduction</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/#access">Accessing the API</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/#storage">API Storage</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/#properties">Properties</a></li>
					<li><a href="<?=WEB_DIR?>/docs/api/#methods">Methods</a></li>
					<li><a href="<?=WEB_DIR?>/docs/global/">Global properties</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="clear">&nbsp;</div>

	<div class="tutorials">
		<h2 class="center"><a href="<?=WEB_DIR?>/tutorials/">Checkout some tutorials &raquo;</a></h2>
	</div>
	</div>
