<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><?=$this->Registry->titlePrefix?> - <?=$title?></title>
<!--Stylesheets-->
<link rel="stylesheet" type="text/css" href="<?=CSS_DIR?>/flash.css"  />
<!-- Metadata-->
<?php $this->renderElement('metadata') ?>
<meta http-equiv="refresh" content="<?=$pause+1000?>; <?=$url?>" />
<!--Google Analytics-->
<?php $this->renderElement('analytics'); ?>
</head>
<body>

<div id="flash">
	<div class="message">
		<h2><?=$title?></h2>
		<p>
			<?=$message?>
		</p>
		
		<div class="tip">
			<div class="tip-inner"></div>
			<div class="tip-border"></div>
		</div>
	</div>
	<div class="clear">&nbsp;</div>

	<img class="owl" src="<?=IMAGES_DIR?>/owl_small.png" alt="Owl says..." width="60" height="66" />

	<a id="count" href="<?=$url?>">Click here if not redirected...</a>
</div>

<script type="text/javascript">
//Define element and count
var elem = document.getElementById('count'),
	content = elem.innerHTML,
	count = <?=$pause?>;

// Set countdown
(function change() {
	elem.innerHTML = (count < 0) ? content : 'Redirecting in ' + (count--) + '...';
	
	if(count > -1) {
		setTimeout(change, 1000);
	}
	else {
		window.location = '<?=$url?>';
	}
}());
</script>
</body>
</html>