<a name="footer"></a>
<div id="footer">
	<div class="center">
		<div class="links left">
			<div class="left">
				<h4>Site links</h4>
				<ul class="site">
					<li><a href="<?=WEB_DIR?>/">About</a></li>
					<li><a href="<?=WEB_DIR?>/demos/">Demos</a></li>
					<li><a href="<?=WEB_DIR?>/download/">Download</a></li>
					<li><a href="<?=WEB_DIR?>/donate/">Donate</a></li>
					<li><a href="<?=WEB_DIR?>/converter/">Converter</a></li>
					<li><a href="<?=WEB_DIR?>/docs/">Documentation</a></li>
					<li><a href="<?=WEB_DIR?>/tutorials/">Tutorials</a></li>
					<li><a href="/projects/forums">Forum</a></li>
				</ul>
			</div>

			<div class="left">
				<h4>Interweb links</h4>
				<ul class="help">
					<li><a href="<?=GIT_URI?>" title="Check-out nightly releases">GitHub repository</a></li>
					<li><a href="http://plugins.jquery.com/project/qtip2">jQuery plugin project</a></li>
					<li><a href="http://craigsworks.com/projects/simpletip" title="Predecessor to qTip">Simpletip</a> <b style="font-size: 11px;">[Old plugin]</b></li>
				</ul>

				<h4>Help</h4>
				<ul class="help">
					<li><a href="/projects/forums/forum-qtip2">User forum</a></li>
					<li><a href="<?=WEB_DIR?>/docs/support/#faq">Frequent questions</a></li>
					<li><a href="<?=GIT_URI?>/issues">Report a bug</a></li>
				</ul>
			</div>

			<div class="left nomargin">
				<h4>Our mascot</h4>
				<img class="owl" src="<?=IMAGES_DIR?>/owl_footer.png" alt="" width="119" height="76" />

				<h4>About me</h4>
				<ul class="help">
					<li><a href="/">Portfolio</a></li>
					<li><a href="/projects">Other projects</a></li>
					<li><a href="mailto:craig@craigsworks.com">Contact me</a></li>
				</ul>

			</div>

			<div class="clear">&nbsp;</div>
		</div>

		<div class="right">
			<a name="thanks"></a>
			<h4 class="title">Special thanks</h4>
			<ul class="info thanks border">
				<?php if($data['action'] === 'index' && $data['controller'] === 'Index') { ?>
				<li><a href="http://webhostingsearch.com" title="Covered the hosting and bandwidth bills for last year!">Web Hosting Search</a></li>
				<?php } ?>
				<li><a href="http://www.creativaconsulting.com/" title="Made incredibly generous donations over the years that have covered server costs and domain registrations!">Creativa Consulting</a></li>
				<li><a href="http://binaryvision.net" title="Invaluable help with the new code highlighter.">Ed Cradock</a></li>
				<li><a href="<?=WEB_DIR?>/forums/user-aaronbarker" title="Filing tonnes of bug fixes and ARIA patches!">Aaron Barker</a></li>
				<li><a href="http://www.cannonaccess.com/" title="Accessibility consultant that helped qTip become ARIA friendly :)">Aaron Cannon</a></li>
				<li><a href="<?=WEB_DIR?>/forums/user-kiddailey" title="Reporting quite a few bugs and patches.">kiddailey</a></li>
			</ul>
		</div>

		<div class="right nomargin">
			<a name="credits"></a>
			<h4 class="title">Credits</h4>
			<ul class="info credits border">
				<li><a href="/">Design <span><img class="logo" src="<?=IMAGES_DIR?>/craigsworks.png" alt="Craig Thompson" width="116" height="23" /></span></a></li>
				<li><a href="http://www.dreamhost.com/r.cgi?237831" title="$15 off: MAGICPROMO">Hosting <span>Dreamhost</span></a></li>
				<li><a href="http://mybboard.net/">Forum <span>MyBB</span></a></li>
				<li><a href="http://jquery.com">JS Library <span>jQuery</span></a></li>
				<li><a>CMS <b class="right">Home-brewed</b></a></li>
				<li><a href="http://www.fonts.com/findfonts/detail.htm?pid=427675">Logo font <span>Gill Sans MT</span></a></li>
				<li><a class="noborder" href="<?=WEB_DIR?>/donate/#thanks">Donations <span>So many...</span></a></li>
			</ul>
		</div>

		<div class="clear">&nbsp;</div>
	</div>

	<div class="copyright">
		<div class="center">
			&copy; <a href="/">Craig Thompson</a> <?=date('Y')?> — <i>Textual</i> content is dedicated to the <a href="http://creativecommons.org/publicdomain/zero/1.0/">public domain</a>.

			qTip2 graphics, logos and designs are released under the <a href="http://creativecommons.org/licenses/by/3.0/">CC Attribution 3.0 license</a>
		</div>
	</div>
</div>