<?php $this->renderElement('where'); ?>

<div id="header">
	<div class="center">
		<h1 class="left">
			<a href="<?=WEB_DIR?>/"><img class="logo" src="<?=IMAGES_DIR?>/logo-horizontal.png" alt="qTip2 - Pretty powerful tooltips" width="193" height="63" /></a>
		</h1>

		<div class="where right">
			<h2><a href="<?=WEB_DIR?>/where/">Where are you using qTip<sup>2</sup>? </a></h2>
			<span>Tell us where and get featured on the homepage!</span>
		</div>
		<img class="owl right" src="<?=IMAGES_DIR?>/owl_small.png" alt="Owl says..." width="60" height="66" />

		<div class="clear">&nbsp;</div>
	</div>
</div>

<div id="nav" class="topnav">
	<div class="center <?=$nav_item?>">
		<ul>
			<li><a class="home" href="<?=WEB_DIR?>/" title="Find out what qTip2 has to offer">About</a></li>
			<li><a class="demos" href="<?=WEB_DIR?>/demos/" title="Check out qTip2 in action">Demos</a></li>
			<li><a class="download" href="<?=WEB_DIR?>/download/" title="Grab it while it's hot">Download</a></li>
			<li><a class="donate" href="<?=WEB_DIR?>/donate/" title="Show some love for the project!">Donate</a></li>

			<li class="right nomargin"><a class="forum" href="/projects/forums/forum-qtip2" title="Get help from the qTip2 community">Forum</a></li>
			<li class="right"><a class="tutorials" href="<?=WEB_DIR?>/tutorials/" title="Learn some neat tricks">Tutorials</a></li>
			<li class="right"><a class="docs" href="<?=WEB_DIR?>/docs/" title="Make the most of qTip2">Documentation</a></li>
			<li class="right"><a class="converter" href="<?=WEB_DIR?>/converter/" title="Convert your old v1.0 code">Converter</a></li>
		</ul>
	</div>
</div>