<div id="contentheader">
<div class="center">
	<h2>Tutorials</h2>
	<ul class="index">
		<li class="left">
			<h4><a href="<?=WEB_DIR?>/tutorials/">Basics</a></h4>
			<ul class="subindex">
				<li><a href="<?=WEB_DIR?>/tutorials/#shorthand">Shorthand options</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/#shared">Shared options</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/#effects">Custom effects</a></li>
			</ul>
		</li>

		<li class="left">
			<h4><a href="<?=WEB_DIR?>/tutorials/styling/">Styling</a></h4>
			<ul class="subindex">
				<li><a href="<?=WEB_DIR?>/tutorials/styling/#html">Tooltip HTML structure</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/styling/#dimensions">Changing tooltip dimensions</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/styling/#themeroller">Themeroller</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/styling/#corners">Rounded corners</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/styling/#shadows">Shadows</a></li>
			</ul>
		</li>

		<li class="left">
			<h4><a href="<?=WEB_DIR?>/tutorials/events/">Events</a></h4>
			<ul class="subindex">
				<li><a href="<?=WEB_DIR?>/tutorials/events/#callbacks">Multiple callbacks</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/events/#stop">Stopping events</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/events/#rightclick">Right-clicks</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/events/#live">.live() &amp; .delegate()</a></li>
			</ul>
		</li>

		<li class="left" style="padding-right: 0;">
			<h4><a href="<?=WEB_DIR?>/tutorials/tricks/">Tips &amp; Tricks</a></h4>
			<ul class="subindex">
				<li><a href="<?=WEB_DIR?>/tutorials/tricks/#override">Global switch</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/tricks/#corner">Detecting corner in CSS</a></li>
			</ul>
		</li>

		<li class="left">
			<h4><a href="<?=WEB_DIR?>/tutorials/advanced/">Advanced</a></h4>
			<ul class="subindex">
				<li><a href="<?=WEB_DIR?>/tutorials/advanced/#override">Override defaults</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/advanced/#multi">Multiple tooltips per element</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/advanced/#plugins">Use with other plugins</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/advanced/#wordpress">Wordpress integration</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/advanced/#plugins">Step-by-step tooltips</a></li>
			</ul>
		</li>

		<li class="left">
			<h4><a href="<?=WEB_DIR?>/tutorials/github/">GitHub</a></h4>
			<ul class="subindex">
				<li><a href="<?=WEB_DIR?>/tutorials/github/#intro">Introduction</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/github/#requirements">Requirements</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/github/#clone">Cloning the repository</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/github/#build">How to build qTip</a></li>
				<li><a href="<?=WEB_DIR?>/tutorials/github/#plugins">Choosing plugins</a></li>
			</ul>
		</li>
	</ul>

	<div class="clear">&nbsp;</div>
</div>
</div>