<div id="where">
<div class="center">
	<form action="<?=WEB_DIR?>/where/">
		Hello! My name's <input class="name" name="name" type="text" maxlength="40" />,
		I'm using qTip at http://<input class="url" name="where" type="text" maxlength="250" />

		and I think it's <input class="comments" name="comments" type="text" maxlength="70" />!

		<button>Ok... done! Send <i>send</i> <b>send!</b></button>

		<p class="note">
			<b>Note:</b> Points will be deducted for bad grammar and spelling... and sentences that make no sense!
		</p>
	</form>
</div>
</div>