[submodule "build/stable"]
	path = build/stable
	url = https://github.com/qTip2/qTip2.git
[submodule "build/nightly"]
	path = build/nightly
	url = https://github.com/qTip2/qTip2.git
[submodule "build/wiki"]
	path = build/wiki
	url = https://github.com/qTip2/qTip2.wiki.git
