<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title><?=$this->Registry->titlePrefix?><?=$title_for_layout ? ' - ' . $title_for_layout : ''?></title>
<!--Stylesheets-->
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="<?=WEB_DIR?>/favicon.ico" />
<link rel="stylesheet" type="text/css" href="<?=CSS_DIR?>/master.css" />
<link rel="stylesheet" type="text/css" href="<?=LATEST_DIR?>/jquery.qtip.min.css" />
<?=$stylesheets_for_layout?>
<!-- Metadata-->
<?php $this->renderElement('metadata') ?>
<!--Google Analytics-->
<?php $this->renderElement('analytics'); ?>
</head>
<body>
<?php $this->renderElement('noscript') ?>
<div id="master">
<?php $this->renderElement('header'); ?>

<?=$content_for_layout?>

<?php $this->renderElement('footer'); ?>
</div>

<!--JavaScript-->
<?php $this->renderElement('javascript'); ?>
<?=$scripts_for_layout?>
</body>
</html>