extends default

block stylesheets
	link(rel="stylesheet", type='text/css', href=url('/static/stylesheets/docs.css'))
	link(rel="stylesheet", type='text/css', href=url('/static/stylesheets/hightlight2.css'))

block javascript
	script(type="text/javascript", src=url('/static/javascripts/jquery.ba-hashchange.min.js'))
	script(type="text/javascript", src=url('/static/javascripts/docs.js'))

block content
	// Print the legend
	ul#legend
		block legend
		each name, link in items
			li: a(href='#'+link)=name