extends layouts/docs

append title
	| - API

block legend
	- var items = { 'api': 'API', 'global': 'Global', 'events': 'Events' }

append content
	a(name="api")
	!{wikipage('API')}

	a(name="events")
	!{wikipage('Events')}

	a(name="global")
	!{wikipage('Global')}