extends layouts/docs

append title
	| - API

block legend
	- var items = { 'API': 'Basics', 'API-Methods': 'Methods', 'API-Properties': 'Properties' }

append content
	each title, option in items
		a(name=option.toLowerCase())
		!{wikipage(option)}
