<div id="contentheader" class="error">
<div class="center">
   <h1 class="right"><?=$code?></h1>
   <h2> Oops... the server had a hiccup!</h2>
</div>
</div>


<div id="content" class="error">
<div class="center">
   <img class="owl" src="<?=IMAGES_DIR?>/owl_error.png" alt="" />
   <h2>Looks like the server has shuffled round some files... we can't find the page you're looking for!</h2>
   <h2>Are you sure you typed in the correct address?</h2>

   <!--<?php print_r(get_defined_vars()); ?>-->

   <div class="clear">&nbsp;</div>
</div>
</div>

