<div id="contentheader">
<div class="center">
	<div id="scroller">
	<div class="wrapper">

		<div class="slide">

		</div>

	</div>
	</div>

	<div id="browsers">
		<div> <img src="<?=IMAGES_DIR?>browsers/64-chrome.png" alt="Chrome" /> 8+ </div>
		<div> <img src="<?=IMAGES_DIR?>browsers/64-firefox.png" alt="Firefox" /> 3+ </div>
		<div> <img src="<?=IMAGES_DIR?>browsers/64-ie.png" alt="Internet Explorer" /> 6+ </div>
		<div> <img src="<?=IMAGES_DIR?>browsers/64-opera.png" alt="Opera" /> 9+ </div>
		<div> <img src="<?=IMAGES_DIR?>browsers/64-safari.png" alt="Safari" /> 2+, iOS 4+ </div>
	</div>
</div>
</div>

<div id="intro">
<div class="center">
	<p>Introducing&hellip; <b>qTip<sup>2</sup></b>. The second generation of the advanced qTip plugin for the ever popular <a href="http://jquery.com">jQuery framework</a>.</p>
	<p>
		Building on 1.0's <b>user friendly</b>, yet <a href="<?=WEB_DIR?>/docs">feature rich</a> base, qTip<sup>2</sup> provides you with tonnes of features like <b>speech bubble tips</b> and <b>imagemap support</b>,
		and best of all... it's <a href="<?=WEB_DIR?>/download#license">completely free under the MIT/GPLv2 licenses!</a>
	</p>
</div>
</div>


<div id="using">
<div class="center">
	<div class="content">
		Who's using qTip<sup>2</sup>?
		<ul class="right">
			<li><a class="assistly" href="http://assistly.com"><img src="<?=IMAGES_DIR?>/using/assistly.png" alt="assistly.com" width="59" height="15" /></a></li>
			<li><a class="irishnews" href="http://irishnews.com"><img src="<?=IMAGES_DIR?>/using/irishnews.png" alt="irishnews.com" width="109" height="15" /></a></li>
			<li><a class="moneybookers" href="http://moneybookers.com"><img src="<?=IMAGES_DIR?>/using/moneybookers.png" alt="moneybookers.com" width="138" height="16" /></a></li>
			<li><a class="models" href="http://models.com"><img src="<?=IMAGES_DIR?>/using/models.com.png" alt="models.com" width="94" height="15" /></a></li>
			<li><a class="asos" href="http://asos.com"><img src="<?=IMAGES_DIR?>/using/asos.png" alt="asos.com" width="54" height="17" /></a></li>
			<li><a class="urban" href="http://urbandictionary.com"><img src="<?=IMAGES_DIR?>/using/urbandictionary.png" alt="urbandictonary.com" width="66" height="21" /></a></li>
			<li><a class="mozilla" href="http://mozilla.com"><img src="<?=IMAGES_DIR?>/using/mozilla.png" alt="mozilla.com" width="60" height="17" /></a></li>
		</ul>
	</div>
</div>
</div>