extends layouts/docs

append title
	| - Options

block legend
	- var items = { 'Shorthand-options': 'Shorthand', Core: 'Core', Content: 'Content', Position: 'Position', Show: 'Show', Hide: 'Hide', Style: 'Style', Events: 'Events', Global: 'Global' }

append content
	each title, option in items
		a(name=option.toLowerCase())
		!{wikipage(option)}
