#jgrowl-container{
	position: fixed;
	top: 70px;	right: 10px;
}

	#jgrowl-container .qtip{
		position: static;
		min-height: 0;
		overflow: hidden;
		margin: 0 0 5px 0;
	}

#qtip-ajax{
	max-width: 385px;
}

#qtip-ajax p{
	margin: 0 0 6px;
}

#qtip-ajax h1{
	margin: 0 0 5px;
}

#qtip-ajax img{
	margin: 10px 10px 10px 0;
}

#qtip-ajax .info{
	overflow: hidden;
}

#qtip-ajax p.note{
	font-weight: 700;
}

#qtip-themeroller{
	position: static !important;
}

.qtip.googlemap{ max-width: none; }

.qtip.geolocation .loading{
	text-align: center;
	line-height: 210px;
}

.qtip.websnapr .qtip-content,
.qtip.googlemap .qtip-content,
#qtip-youtube .qtip-content,
#qtip-vimeo .qtip-content{
	padding: 0;
}

.qtip.dialogue p{
	margin: 0 0 10px;
}

.qtip.dialogue button{
	display: inline-block !important;
}

.qtip.tweet img.logo{
	position: absolute;
	bottom: -8px; right: -8px;
}

.qtip.imdb .qtip-content{
    padding: 5px 5px 5px 40px;
    background: url(http://media2.juggledesign.com/qtip2/images/demos/imdb_logo.png) no-repeat 5px 50%;
}​