#legend{
	position: fixed;
	top: 80px;
	right: 0;
	z-index: 100;
	padding: 5px 25px 5px 5px;

	background-color: rgb(254, 254, 254);
	background-color: rgba(254, 254, 254, 0.75);
	border-radius: 5px 0 0 5px;
}

#legend,
#legend ul{
	margin: 0;
	list-style: none;
	text-align: right;
}

#legend ul{
	display: none;
}

#legend ul.active{
	display: block;
}

#legend li{
	font-weight: bold;
}

#legend a{
	font-weight: normal;
}

#legend > li > a{
	color: #444;
	font-weight: bold;
}

#legend > li > a:hover{
	text-decoration: underline;
}

#legend a.active{
	font-weight: bold;
}

hr{
	display: none;
}

#content .category{
	margin-bottom: 10px;
}

#content .category:last-child{
	margin-bottom: 200px;
}

#content .section + .category.group{
	margin-top: 80px;
}

.section ul{
	margin-top: 2px;
}

.signatures{
	padding: 5px 0 5px 10px;
}

.section h3{
	font-size: 150%;
	font-family: 'Average Sans';
}

.section pre + h3{
	margin-top: 20px;	
}

.section p + pre{
	margin-top: -15px;
}

.section pre + p{
	margin-top: 20px;
}

.section a[name]{
	margin-top: -80px;
	margin-bottom: 20px;
}

.section a[name] + h3{
	margin-top: 15px;
}

.section h2 + a[name] + h3{
	margin-top: 0;
}

.signature{
	margin-bottom: 15px;
}

.signature h4{
	margin-bottom: 6px;
}

.signature p{
	margin: 0 0 0 5px;
	padding: 5px 0 10px 10px;

	border-left: 3px solid #eee;
}

body.api .section h2 + p{
	font-size: 125%;
}

body.api .section a[data-type] + h2 + p{
	font-size: 100%;
}