#section-cdn h4{
	margin: 5px 0 3px;
}

#section-cdn .cdn + .cdn{
	padding-top: 10px;
	clear: both;
}

#section-cdn .cdn h3 + p{
	margin-bottom: 10px;
}

#section-cdn .cdn .left{
	padding: 0 90px 0 0;
}

#section-cdn .cdnlinks{
	margin: 0 0 20px 5px;
}

#section-cdn .cdnlinks a{
	line-height: 1.6;
}

#section-builder .blocks li{
	width: 245px;
}

#section-git .badge{
	display: inline-block;
}