code, pre{
	font-family: Monaco, Menlo, Consolas, "Lucida Console", monospace;
	color: #333;

	border-radius: 4px;
}

code {
	margin: 0 2px;
	padding: 1px 4px;
	
	white-space: nowrap;
	color: #408817;
	background-color: #f7f7f9;
	letter-spacing: -1px;
	
	border: 1px solid #e1e1e8;
}

pre, pre code{
	display: block;
	margin: 0;
	padding: 0;
	
	background: #333;
	color: #f8f8f8;
	border: 0;

	white-space: pre;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0px;
}

pre{
	min-width: 767px;
	padding: 1em;
	display: block;
	margin: 0 0 10px;
	overflow: hidden;

	border: 1px solid #e1e1e8;
}

pre code {
	display: block;
	white-space: pre;
}

pre .comment {
	color: #7e7680;
}

pre .keyword {
	color: #E6DB74;
}

pre .string {
	color: #82C201;
}

pre .regexp {
	color: #e9c062;
}

pre .number {
	color: #cf6a4c;
}

pre .title {
	color: #cda869;
}

pre .params {
	color: #7587a6;
}

pre .literal {
	color: #cda869;
}

pre .invalidselector{
	color: #DE2525;
	cursor: help;
}

pre .invalidpath{
	color: #DE2525;
	cursor: help;
}