<?php $this->renderElement('tutorials_header'); ?>

	<div id="content">
	<div class="center">

		<div id="tricks" class="section">
			<h2>Tips &amp; Tricks</h2>

			<div id="global" class="subsection">
				<a name="global"></a>
				<h3>Global switch</h3>
				<p>
					Prior to qTip 2.x it was a nasty bit of work trying to disable tooltips globally, due to some dodgy coding on my part. But I know you all still love me, so I fixed it for you this time round!
					Quick and easy:
				</p>
				<?php echo $this->highlightCode('javascript', <<<CODE
$('.qtip').qtip('disable');
$('.qtip').qtip('enable'); // To enable them again ;)
CODE
				);?>
				<p class="note">
					<em>NB</em> Disabling tooltips simply stops them from responding to events, <b>it won't hide them!</b>
				</p>
				
				<p>You can also make it specific to a portion of your page such as your header, by changing the selector to something like:</p>
				<?php echo $this->highlightCode('javascript', <<<CODE
$('#header .qtip').qtip('disable'); // Disable all header tooltips
CODE
				);?>
				<p class="note">
					<em>NB</em> Note that this only works when you've set the <a href="<?=WEB_DIR?>/docs/position/#container">position.container</a> property
				</p>
				
				<p>If you need to hide your tooltips as well as disable them, simply add a hide call before you disable them:</p>
				<?php echo $this->highlightCode('javascript', <<<CODE
$('.qtip').qtip('hide').qtip('disable'); // Hide AND disable all tooltips
CODE
				);?>
			</div>
			<a href="#" class="backtop right">Back to the top</a>

			<div id="corner" class="subsection">
				<a name="corner"></a>
				<h3>Detecting corner values</h3>
				<p>
					New to the 2.x release is a way to detect which corner the tooltip is currently positioned at, using pure CSS . When the tooltip is positioned on the
					page, a new class is added to the main .qtip element denoting its current corner position. Here's a quick list of possible values:
				</p>
				<?php echo $this->highlightCode('css', <<<CODE
.ui-tooltip-pos-tl{ } /* top left */
.ui-tooltip-pos-tr{ } /* top right */
.ui-tooltip-pos-tc{ } /* top center */
.ui-tooltip-pos-bl{ } /* bottom left */
.ui-tooltip-pos-br{ } /* bottom right */
.ui-tooltip-pos-bc{ } /* bottom center */
.ui-tooltip-pos-lc{ } /* left center */
.ui-tooltip-pos-rc{ } /* right center */
.ui-tooltip-pos-c{ } /* center */
CODE
				);?>
			</div>
			<a href="#" class="backtop right">Back to the top</a>
		</div>
	</div>
	</div>
	
	