table#datatables.display(cellpadding='0', cellspacing='0', border='0', width='100%')
	thead
		tr
			th Rendering engine
			th Browser
			th Platform(s)
			th Engine version
			th CSS grade
	tbody
		tr.odd.gradeX(data-browser="ie")
			td Trident
			td
				| Internet
				| Explorer 4.0
			td Win 95+
			td.center  4
			td.center X
		tr.even.gradeC(data-browser="ie")
			td Trident
			td
				| Internet
				| Explorer 5.0
			td Win 95+
			td.center 5
			td.center C
		tr.odd.gradeA(data-browser="ie")
			td Trident
			td
				| Internet
				| Explorer 5.5
			td Win 95+
			td.center 5.5
			td.center A
		tr.even.gradeA(data-browser="ie")
			td Trident
			td
				| Internet
				| Explorer 6
			td Win 98+
			td.center 6
			td.center A
		tr.odd.gradeA(data-browser="ie")
			td Trident
			td Internet Explorer 7
			td Win XP SP2+
			td.center 7
			td.center A
		tr.even.gradeA(data-browser="ie")
			td Trident
			td AOL browser (AOL desktop)
			td Win XP
			td.center 6
			td.center A
		tr.gradeA(data-browser="firefox")
			td Gecko
			td Firefox 1.0
			td Win 98+ / OSX.2+
			td.center 1.7
			td.center A
		tr.gradeA(data-browser="firefox")
			td Gecko
			td Firefox 1.5
			td Win 98+ / OSX.2+
			td.center 1.8
			td.center A
		tr.gradeA(data-browser="firefox")
			td Gecko
			td Firefox 2.0
			td Win 98+ / OSX.2+
			td.center 1.8
			td.center A
		tr.gradeA(data-browser="firefox")
			td Gecko
			td Firefox 3.0
			td Win 2k+ / OSX.3+
			td.center 1.9
			td.center A
		tr.gradeA(data-browser="chrome")
			td Webkit
			td Chrome
			td Windows
			td.center 12
			td.center A
		tr.gradeA(data-browser="chrome")
			td Webkit
			td Chrome
			td Windows
			td.center 16
			td.center A
		tr.gradeA(data-browser="chrome")
			td Webkit
			td Chrome
			td Windows
			td.center 10
			td.center A
		tr.gradeA(data-browser="safari")
			td Webkit
			td Safari 3.0
			td OSX.4+
			td.center 522.1
			td.center A
		tr.gradeA(data-browser="safari")
			td Webkit
			td iPod Touch / iPhone
			td iPod
			td.center 420.1
			td.center A
		tr.gradeA(data-browser="opera")
			td Presto
			td Opera 7.0
			td Win 95+ / OSX.1+
			td.center -
			td.center A
		tr.gradeA(data-browser="opera")
			td Presto
			td Opera 7.5
			td Win 95+ / OSX.2+
			td.center -
			td.center A
		tr.gradeA(data-browser="opera")
			td Presto
			td Opera 8.0
			td Win 95+ / OSX.2+
			td.center -
			td.center A
		tr.gradeA(data-browser="opera")
			td Presto
			td Opera 9.2
			td Win 88+ / OSX.3+
			td.center -
			td.center A
		tr.gradeA(data-browser="opera")
			td Presto
			td Opera 9.5
			td Win 88+ / OSX.3+
			td.center -
			td.center A
		tr.gradeA(data-browser="opera")
			td Presto
			td Opera for Wii
			td Wii
			td.center -
			td.center A
		tr.gradeA(data-browser="opera")
			td Presto
			td Nokia N800
			td N800
			td.center -
			td.center A
		tr.gradeA(data-browser="opera")
			td Presto
			td Nintendo DS browser
			td Nintendo DS
			td.center 8.5
			td.center
				| C/A
				sup 1
		tr.gradeC(data-browser="konqureror")
			td KHTML
			td Konqureror 3.1
			td KDE 3.1
			td.center 3.1
			td.center C
		tr.gradeA(data-browser="konqureror")
			td KHTML
			td Konqureror 3.3
			td KDE 3.3
			td.center 3.3
			td.center A
		tr.gradeA(data-browser="konqureror")
			td KHTML
			td Konqureror 3.5
			td KDE 3.5
			td.center 3.5
			td.center A