extends ../layouts/demo

block title
	| Flickr

block styles
	style(type="text/css")
		/* Set a slightly bigger max-width so we can fit in our photos */
		.ui-tooltip-flickr{
			max-width: 700px;
		}

			/* Adds the flickr favicon to the top right of the tooltip :) */
			.ui-tooltip-flickr .ui-tooltip-titlebar{
				background-image: url('#{cdn("flickr.png")}');
				background-repeat: no-repeat;
				background-position: 97% 7px;
			}

			.ui-tooltip-flickr .ui-tooltip-title{
				padding-right: 0;
			}

			.ui-tooltip-flickr img{
				margin: 0 auto;
			}

block content
	h2
		img(src='http://l.yimg.com/g/images/en-us/flickr-yahoo-logo.png.v3', alt='Flickr', width='180', height='30')
		| gallery

	table(cellspacing='0', cellpadding='0')
		tr(valign='middle')
			td
				a(href='http://www.flickr.com/photos/lasfotosdemikel/5228309359/')
				img(src='http://farm6.static.flickr.com/5042/5228309359_3fedf9f026_m.jpg', alt='Yoga by Mikel Alba (Scenes creation)', height='160', width='240')
			td
				a(href='http://www.flickr.com/photos/25530364@N07/5226449493/')
				img(src='http://farm6.static.flickr.com/5289/5226449493_eb0581bf85_m.jpg', alt='Feliz Quinta flower!!') by Parisienne', height='180', width='240')
			td
				a(href='http://www.flickr.com/photos/mariannelomonaco/5231560637/')
				img(src='http://farm6.static.flickr.com/5246/5231560637_735f9430ef_m.jpg', alt='Day Three Hundred and Thirty Eight by MarianneLoMonaco', height='160', width='240')
		tr(valign='middle')
			td
				a(href='http://www.flickr.com/photos/ccgd/5226746082/')
				img(src='http://farm6.static.flickr.com/5284/5226746082_297d1dfa54_m.jpg', alt='An Edinburgh Winter by ccgd', height='240', width='183')
			td
				a(href='http://www.flickr.com/photos/schnoook/5232537826/')
				img(src='http://farm6.static.flickr.com/5290/5232537826_5d5768dc7e_m.jpg', alt='Daisies - Explore 35 by Luke_23', height='173', width='240')
			td
				a(href='http://www.flickr.com/photos/allard1/3807655054/')
				img(src='http://farm3.static.flickr.com/2467/3807655054_28046a730f_m.jpg', alt='You fall into a deeeep sleeeep', height='240', width='240')
		tr(valign='middle')
			td
				a(href='http://www.flickr.com/photos/cordellia/5229739572/')
				img(src='http://farm6.static.flickr.com/5130/5229739572_ea849283d8_m.jpg', alt=' by Lara Alegre', height='159', width='240')
			td
				a(href='http://www.flickr.com/photos/achauer/5230514055/')
				img(src='http://farm6.static.flickr.com/5087/5230514055_d00c36a563_m.jpg', alt='Lemons by Allison Achauer', height='159', width='240')
			td
				a(href='http://www.flickr.com/photos/monicaecebolinha/5227603154/')
				img(src='http://farm6.static.flickr.com/5085/5227603154_5ae74eb196_m.jpg', alt='"What have you been longing for?" by Monica & Cebolinha', height='160', width='240')

block scripts
	script(class="example", type="text/javascript")
		$(document).ready(function()
		{
			$('td img').each(function() {
				var thumb = $(this).attr('src'), full, content;

				// We can grab the fullsize image by replacing the _m at the end of the filename
				full = thumb.replace('_m.jpg', '.jpg');

				// Create the fullsize image with a link
				content = $('<a />', {
					href: $(this).parent().attr('href'),
					target: '_parent' // This is just so the links work in the demos section, you can take it out! :)
				})
				.append( $('<img />', { src: full }) );

				// Create the tooltip
				$(this).qtip({
					content: {
						text: content,
						title: {
							text: $(this).attr('alt') // Use the image ALT text for the title
						}
					},
					position: {
						my: 'center',
						at: 'center',
						viewport: $(window)
					},
					hide: {
						fixed: true
					},
					style: {
						classes: 'ui-tooltip-tipsy ui-tooltip-flickr'
					}
				});
			});
		});