<?php $title_for_layout ='Forum integration'; ?>

<div id="demo-forum">
	<div class="side left">
		<h4><a href="<?=WEB_DIR?>/forum/user/2/">craig</a></h4>
		<ul>
			<li class="avatar" rel="1">
				<img src="http://craigsworks.com/projects/forums/uploads/avatars/avatar_1.jpg" alt="Craig's Avatar" />
			</li>
			<li class="position">Creator</li>
			<li class="status"><span>Online</span></li>
		</ul>
	</div>

	<div class="main">
		<h4 class="right">1</h4>
		<h4>Thursday 19th March, 2009 19:11:31</h4>
		<p>
			Here's a dummy forum post... <i><b>mouse over</b> my avatar</i> for some more details about me as a user. The data in the tooltip is retrieved from a dynamic PHP script via AJAX. Cool huh?<br />
			____________________________________________<br />
			Craig Thompson<br />
			Web Developer / Designer<br />
			Craigsworks<br />
			<a href="http://www.craigsworks.com">http://www.craigsworks.com</a>
		</p>
	</div>
	<div class="clear" style="height:0;">&nbsp;</div>
</div>

<script type="text/javascript" class="example">
$(document).ready(function()
{
	$('li.avatar').each(function() // Loop over each avatar using the .each() method
	{
		// Thanks to .each() "this" refers to each element within the loop
		$(this).qtip({
			content: {
				text: 'Loading...', // Make sure we declare some basic loading content
				ajax: {
					url: '<?=WEB_DIR?>/userinfo.php', // Grab user data from serverside PHP script...
					data: { 
						userid: $(this).attr('rel') // ...providing a 'userid' which is stored in the avatars REL attribute
					} 
				}
			},
			position: {
				my: 'left center', // Position the tooltip...
				at: 'right center', // ...to the right of the avatar
				adjust: { screen: true } // Adjust to keep in the viewport
			},
			show: { delay: 700 }, // Give it a reasonable delay so they don't view it accidentally
			hide: { fixed: true, delay: 100 }, // Allow the user the mouseover the tooltip without it hiding
			style: {
				classes: 'ui-tooltip-dark ui-tooltip-shadow'
			}
		});
	});
});
</script>


