<?php $title_for_layout ='Google Maps'; ?>

<style type="text/css">
/* We'll set the width/height of the tooltip to our map dimensions */
.ui-tooltip-googlemap .ui-tooltip-content{
	height: 100px;
	padding: 0; /* No padding for the content so it's flush with the border... */
}
</style>

<div id="demo-googlemap" class="box">
	<h2>Click a landmark to see it on a map</h2>

	<div class="first left">
		<img class="thumb" src="<?=IMAGES_DIR?>/demos/whitehouse.jpg" coords="38.89859,-77.035971" alt="The White House" />
		<div class="caption">The White house</div>
		<div class="credit">Credit: <a href="http://en.wikipedia.org/wiki/User:Wadester16">Wadester</a></div>
	</div>

	<div class="left">
		<img class="thumb" src="<?=IMAGES_DIR?>/demos/washingtonmomument.jpg" coords="38.8921,-77.033689" alt="Washington Monument" />
		<div class="caption">Washington Monument</div>
		<div class="credit">Credit: <a href="http://en.wikipedia.org/wiki/User:Diliff">Diliff</a></div>
	</div>

	<div class="left" style="margin-right: 0;">
		<img class="thumb" src="<?=IMAGES_DIR?>/demos/pentagon.jpg" coords="38.871008,-77.055979" alt="The Pentagon" />
		<div class="caption">The Pentagon</div>
		<div class="credit">Credit: Department of Defense</div>
	</div>

	<div class="clear">
</div>

<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" class="example">
$(document).ready(function()
{
	// Only match those elements with coordinate attributes
	$('[coords]').qtip({
		content: {
			text: 'Loading map...', // Display a loading message whilst the map loads
			title: {
				button: true
			}
		},
		position: {
			my: 'bottom center',
			at: 'top center', // Stick it at the top left of our element
			viewport: $(window), // Keep it within the window boundaries...
			adjust: { method: 'shift' } // ...by shifting it, not flipping as is default!
		},
		show: 'click', // Show on click
		hide: 'unfocus', // Hide it when the element loses focus
		style: {
			classes: 'ui-tooltip-googlemap ui-tooltip-shadow',
			width: 200 // Keep the tooltip a set width.. in our case 200px!
		},
		events: {
			render : function(event, api)
			{
				var tooltip = $(this),
				
				// Setup the map container and append it to the tooltip
				container = $('<div style="width:200px; height:100px;"></div>')
					.appendTo(api.elements.content.empty());

				// Temporarily show the tooltip so we don't get rendering bugs in GMaps
				tooltip.show();

				// Create map object as api attribute for later use
				api.map = new google.maps.Map(container[0], {
					zoom: 12, // Close zoom!
					mapTypeId: google.maps.MapTypeId.ROADMAP // Use the classic roadmap
				});

				// Hide the tooltip again now we're done
				tooltip.hide();
			},
			show: function(event, api)
			{
				// Grab the map reference and target
				var map = api.map,
					target = api.elements.target,
					coords, latlong, map, marker, info;

				// Parse coordinates of event target
				coords = target.attr('coords').split(',');

				// Setup lat/long coordinates
				latlong = new google.maps.LatLng(parseFloat(coords[0]), parseFloat(coords[1]));

				// Create marker at the new location and center map there
				marker = new google.maps.Marker({
					position: latlong,
					map: map,
					title: target.attr('alt') // Use the alt attribute of the target for the marker title
				});
				map.setCenter(latlong);
			}
		}
	});
});
</script>
