<div id="contentheader">
<div class="center">
	<h2 class="left">Demos</h2>

	<div class="toolbar">
		<a class="source button" href="#"><span class="ui-icon ui-icon-script"></span> View source</a>
		<a class="download button" href="#"><span class="ui-icon ui-icon-folder-collapsed"></span> Download</a>
		
		<a class="popout button" href="#"><span class="ui-icon ui-icon-newwin"></span> Pop-out</a>
		<a class="fiddle button" href="#"><span class="ui-icon ui-icon-newwin"></span> jsfiddle.net</a>
		<div class="clear">&nbsp;</div>
	</div>

	<div class="clear">&nbsp;</div>
</div>
</div>

<div id="content">
<div class="center">
	<div id="demopanel">
		<div class="demo-list">
			<div class="accordion">
				<h3><a href="#">Integrated features</a></h3>
				<ul>
					<li><a href="<?=WEB_DIR?>/demos/simple" title="Replace the default browser tooltips with qTip." rel="EEwwg">Simple integration</a></li>
					<li><a href="<?=WEB_DIR?>/demos/tips" title="Draw attention to the element the tooltip is referring to using qTip2's speech bubble tips.">Speech bubble tips</a></li>
					<li><a href="<?=WEB_DIR?>/demos/ajax" title="Utilise qTip2's built-in AJAX plugin to grab content from other pages asynchronously.">AJAX</a></li>
					<li><a href="<?=WEB_DIR?>/demos/modal" title="With the built-in modal plugin, you can create qTip's that perform the same tasks as a modal dialogue." rel="LJwLh">Modal dialogue</a></li>
					<li><a href="<?=WEB_DIR?>/demos/imagemap" title="Using qTip2's built-in imagemap support, we can even position our tooltips in relation to area elements." rel="v2WPz">Image maps</a></li>
					<li><a href="<?=WEB_DIR?>/demos/viewport" title="Keep your qTip's on-screen at all times using customisable collision detection.">Collision detection</a></li>
					<li><a href="<?=WEB_DIR?>/demos/mouse" title="Position your tooltips in relation to the mouse using in-built mouse tracking." rel="v6KMr">Mouse tracking</a></li>
				</ul>

				<h3><a href="#">Services &amp; Data</a></h3>
				<ul>
					<li><a href="<?=WEB_DIR?>/demos/flickr" title="Setup a simple Flickr gallery with fullsize image mouseovers." rel="ar5Jb">Flickr</a></li>
					<li><a href="<?=WEB_DIR?>/demos/imdb" title="Allow users to see the IMDb film rating for any films linked to on the page.">IMDb Rating</a></li>
					<li><a href="<?=WEB_DIR?>/demos/websnapr" title="Allow users to see thumbnails of any site you link to using the WebSnapr API.">WebSnapr thumbnails</a></li>
					<li><a href="<?=WEB_DIR?>/demos/microblogging" title="Let users see the most recent tweet or buzz of any Twitter/Buzz usernames linked to on the page.">Microblogging</a></li>
					<li><a href="<?=WEB_DIR?>/demos/forum" title="See an example of how you can easily integrate qTip2 into forum software to provide user details on avatar mouseover.">Forum integration</a></li>
					<li><a href="<?=WEB_DIR?>/demos/geolocation" title="Allow users to click and view a Google Map of an IP's geolocation.">IP Geolocation</a></li>
				</ul>

				<h3><a href="#">Plugin integration</a></h3>
				<ul>
					<li><a href="<?=WEB_DIR?>/demos/validation" title="Integrate qTip's into the jQuery Validation plugin to supply users with details about errors in their forms.">Validation</a></li>
					<li><a href="<?=WEB_DIR?>/demos/youtube" title="Allow users to preview any YouTube videos linked to on your page using the YouTube API.">YouTube Previews</a></li>
					<li><a href="<?=WEB_DIR?>/demos/vimeo" title="Allow users to preview Vimeo videos linked to on your page using the Vimeo API.">Vimeo Previews</a></li>
					<!--<li><a href="<?=WEB_DIR?>/demos/translate" title="Use Google's Translation API to let users select any text on the page and have an instant translation appear!">Google Translate</a></li>-->
					<li><a href="<?=WEB_DIR?>/demos/googlemap" title="Store coordinates on your elements and display a Google Map of their whereabouts on click.">Google Maps</a></li>
					<li><a href="<?=WEB_DIR?>/demos/jmonthcalendar" title="Integrate qTip2 into your jMonthCalendar to supply event details, just like Google Calendar!">jMonthCalendar</a></li>
					<li><a href="<?=WEB_DIR?>/demos/flot" title="Charts often need annotation, so why not integrate qTip2 into flot and provide an interactive experience for your users?">flot charts</a></li>
				</ul>

				<h3><a href="#">UI Tricks</a></h3>
				<ul>
					<li><a href="<?=WEB_DIR?>/demos/dialogues" title="Simulate the old alert/confirm/prompt dialogues with qTip2.">Alert/Confirm/Prompt</a></li>
					<li><a href="<?=WEB_DIR?>/demos/form" title="Embed forms straight into your qTip's for same-page submissions">Embedded forms</a></li>
					<li><a href="<?=WEB_DIR?>/demos/menus" title="Create nested dropdown menus for your navigation bars.">Dropdown menus</a></li>
					<li><a href="<?=WEB_DIR?>/demos/growl" title="Simulate the jGrowl plugin with the qTip2 library via use of the in-built API." rel="NYc4Q">jGrowl</a></li>
				</ul>

				<h3><a href="#">jQuery UI</a></h3>
				<ul>
					<li><a href="<?=WEB_DIR?>/demos/themeroller" title="Utilise the jQuery ThemeRoller framework to style your qTip's!">ThemeRoller</a></li>
					<li><a href="<?=WEB_DIR?>/demos/ui-tabs" title="Utilise qTip inside jQuery UI tab content.">Tabs</a></li>
					<li><a href="<?=WEB_DIR?>/demos/ui-slider" title="Utilise qTip to display your UI Slider value.">Slider</a></li>
				</ul>

				<h3 class="lasty"><a href="#">Advanced usage</a></h3>
				<ul>
					<li><a href="<?=WEB_DIR?>/demos/shared" title="Share a single tooltip between multiple targets, each with their own content.">One tooltip, multiple targets</a></li>
					<li><a href="<?=WEB_DIR?>/demos/steps" title="Create a step-by-step tutorial using qTip2 to display information about specified elements in a specific order.">Step-by-step tutorials</a></li>
				</ul>
			</div>

			<div class="demo-description">
				Choose a demo from above
			</div>
		</div>

		<div id="demoframe">
			<div id="loading"></div>

			<iframe class="demo" style="display: block;" frameborder="0">&nbsp;</iframe>
			<iframe class="source" style="display: none;" frameborder="0">&nbsp;</iframe>
		</div>
		<div class="clear">&nbsp;</div>
	</div>

	<div class="clear">&nbsp;</div>
</div>
</div>
