<?php $title_for_layout ='jMonthCalendar integration'; ?>

<div id="jMonthCalendar"></div>

<script type="text/javascript" class="example">
$(document).ready(function()
{
	// Setup your calendar events
	var events = [
		{ 'EventID': 1, 'StartDateTime': 'new Date(2010, 11, 12)', 'EndDateTime': 'new Date(2010, 11, 12)', 'Title': '8:00pm - Date with Laura', 'URL': '#', 'Description': 'Romantic meal on the sea front. <b>Remember the flowers!</b>' },
		{ 'EventID': 2, 'StartDateTime': 'new Date(2010, 11, 25)', 'EndDateTime': 'new Date(2010, 11, 25)', 'Title': 'qTip2 Release', 'URL': '#', 'Description': 'Could it be? We\'ll find out soon enough...' }
	];

	// Initialize the calendar
	$.jMonthCalendar.Initialize(
	{
		calendarStartDate: new Date(2010, 11, 1),
		onEventBlockClick: function(event)
		{
			$(this).qtip({
				overwrite: false, // Force one tooltip per event
				content: event.data.Event.Description, // Use the event description from the event.data object
				position: {
					my: 'top center', // Position the tooltip...
					at: 'bottom center', // ...at the bottom of the event
					viewport: $(window) // Try to keep the tooltip onscreen at all times
				},
				show: {
					event: 'click', // Show the tooltip when event is clicked and tooltip is 'ready' e.g. rendered
					ready: true
				},
				hide: 'unfocus', // Hide when the tooltip loses focus
				style: {
					classes: 'ui-tooltip-tipsy ui-tooltip-shadow' // Apply a dark theme to make it look extra sexy...
				}
			});
		}
	}
	, events);
});
</script>
