<?php $title_for_layout ='Mouse tracking'; ?>

<div id="demo-mouse" class="box">
	<h3>Hover over this box to see mouse tracking in action</h3>
</div>

<script type="text/javascript" class="example">
$(document).ready(function()
{
	$('#demo-mouse').qtip({
		content: 'I position myself at the current mouse position',
		position: {
			my: 'top left',
			target: 'mouse',
			viewport: $(window), // Keep it on-screen at all times if possible
			adjust: {
				x: 10,  y: 10
			}
		},
		hide: {
			fixed: true // Helps to prevent the tooltip from hiding ocassionally when tracking!
		},
		style: 'ui-tooltip-shadow'
	});
});
</script>