<?php $title_for_layout ='Google translation' ?>

<style type="text/css">
/* Use a slightly larger max-width for nice-ness */
.ui-tooltip-translate{
	max-width: 500px;
	min-width: 0px;
}
</style>

<div id="demo-translate" class="box">
	<h4 class="right" style="margin-top: 2px;">Highlight any text to see a Spanish translation</h4>
	<h3>Wikipedia - Spain</h3>

	<img class="left" src="<?=IMAGES_DIR?>/demos/spain_flag.png" alt="" title="The Spanish flag" width="188" height="128" />
	<img class="right" src="<?=IMAGES_DIR?>/demos/spain_map.png" alt="" title="Map of Spain" width="250" height="208" />
	<div class="translate">
		<p>Spain, or the Kingdom of Spain, is a country located in southwestern Europe on the Iberian Peninsula. Its mainland is bordered to the south and east by the Mediterranean Sea except for a small land boundary with Gibraltar; to the north by France, Andorra, and the Bay of Biscay; and to the west by the Atlantic Ocean and Portugal. Spanish territory also includes the Balearic Islands in the Mediterranean, the Canary Islands in the Atlantic Ocean off the African coast, and two autonomous cities in North Africa, Ceuta and Melilla, that border Morocco. With an area of 504,030 km², Spain is the second largest country in Western Europe after France.</p>
		<p>Because of its location, the territory of Spain was subject to many external influences, often simultaneously, since prehistoric times and through the dawn of Spain as a country. On the other side, the country itself has been an important source of influence to other regions, chiefly during the Modern Era, when it became a global empire that has left a legacy of over 400 million Spanish speakers today.</p>
		<p>Spain is a democracy organised in the form of a parliamentary government under a constitutional monarchy. It is a developed country with the eighth largest economy in the world based on nominal GDP. It is a member of the European Union and NATO.</p>
	</div>

	<p class="attribution">Content &amp; Images: <a href="http://wikipedia.org/wiki/Spain">Wikipedia</a></p>
</div>


<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script class="example" type="text/javascript">
// Initialize google API
google.load("language", "1");

// Define our text selection grabber method
function getSelected()
{
	if(window.getSelection) { txt = window.getSelection().toString(); }
	else if(document.getSelection) { txt = document.getSelection().toString(); }
	else if(document.selection) { txt = document.selection.createRange().text; }

	return txt || '';
}

// Setup a single tooltip on the document body element
$(document.body).qtip(
{
	content: 'Translating...', // Set an initial loading message...
	position: {
		my: 'bottom right',
		at: 'top left',
		viewport: $(window), // Keep it on screen if possible
		target: 'mouse', // Position it where the mouse up event happens...
		adjust: { mouse: false } // ... but don't follow the mouse
	},
	show: false, // Disable the default show event
	hide: 'unfocus', // Hide the tooltip when it loses focus
	style: 'ui-tooltip-translate ui-tooltip-shadow' // Make it look nice... :)
})

.bind('mouseup', function(event) {
	var text;
	
	// Grab the text that is selected and check it has length
	if((text = getSelected()).length)
	{
		// Retrieve qTip's API
		var api = $(this).qtip();

		// Set translating... as translation loads and show the tooltip
		api.set('content.text', 'Translating...');
		api.show(event); // ..make sure to pass the event object os it positions properly!

		// Translate the text using the google language API
		google.language.translate(text, "en", "es", function(result){
			// Set the new tooltip content using the qTip API
			api.set('content.text', result.translation);
		});
	}
});
</script>
