extends ../layouts/demo

block title
	| jQuery UI Slider

block styles
	link(rel="stylesheet", type="text/css", href="#{cdn('jqueryui-css')}")
	style(type="text/css")
		/* Remove the default min-width so the value centers nicely */
		.ui-tooltip-slider{
			min-width: 0px;
		}

block content
	h3 Mouse over the slider handle to see the value
	#demo-slider

block scripts
	script(type="text/javascript", src="#{cdn('jqueryui')}")
	script(type="text/javascript", class="example")
		$(document).ready(function()
		{
			/* Cache a reference to our slider element */
			var slider = $('#demo-slider')

			/* Create the slider */
			.slider({
				slide: function(event, ui) {
					/* Grab the slider value and set the tooltip's content.text property as it */
					handle.qtip('option', 'content.text', '' + ui.value);
				}
			}),

			/* Grab and cache the newly created slider handle */
			handle = $('.ui-slider-handle', slider);

			/* 
			* Selector needs changing here to match your elements.
			* 
			* Notice the second argument to the $() constructor, which tells
			* jQuery to use that as the top-level element to seareh down from.
			*/
			handle.qtip({
				content: '' + slider.slider('option', 'value'), // Use the current value of the slider
				position: {
					my: 'bottom center',
					at: 'top center',
					container: handle // Stick it inside the handle element so it keeps the position synched up
				},
				hide: {
					delay: 1000 // Give it a longer delay so it doesn't hide frequently as we move the handle
				},
				style: {
					classes: 'ui-tooltip-slider',
					widget: true // Make it Themeroller compatible
				}
			});
		});