.democontent
	img.photo.left(src='#{cdn("demos/owl_3.jpg")}', alt='', width='101', height='150')
	.info
		h1 Burrowing Owl
		p
			| The
			a(href='http://en.wikipedia.org/wiki/Burrowing_Owl') Burrowing Owl
			| (Athene cunicularia) is a small, long-legged owl found throughout open landscapes of North and South America. Burrowing owls can be found in grasslands, rangelands and deserts.
		p
			| Unlike most owls, burrowing owls are often active during the day, although they tend to avoid the mid-day heat. Most hunting is still done from dusk until dawn, when their owl apomorphies are most advantageous.
		p.note
			| Image credit:
			a(href='http://www.flickr.com/photos/flaviocb/312257053/') Flickr
		.clear