.democontent
	img.photo.left(src='#{cdn("demos/owl_2.jpg")}', alt='', width='111', height='170')
	.info
		h1 Snowy Owl
		p
			| The 
			a(href='http://en.wikipedia.org/wiki/Snowy_Owl') Snowy Owl 
			| (Bubo scandiacus) is a large owl of the typical owl family Strigidae. The Snowy Owl was first classified in 1758 by Carolus Linnaeus, the Swedish naturalist who developed binomial nomenclature to classify and organize plants and animals.
		p
			| Until recently, it was regarded as the sole member of a distinct genus, but mtDNA data shows that it is very closely related to the horned owls in the genus Bubo.
		p.note
			| Image credit: 
			a(href='http://flickr.com/photos/dbarronoss/372713343/') Flickr
		.clear