.democontent
	img.photo.left(src='#{cdn("demos/owl_1.jpg")}', alt='', width='101', height='150')
	.info
		h1 Tawny Owl
		p
			| The
			a(href='http://en.wikipedia.org/wiki/Tawny_Owl') Tawny Owl
			| (Strix aluco) is a stocky, medium-sized owl which is common in woodlands across much of Eurasia. Its underparts are pale with dark streaks, and the upperparts are brown or grey.
		p
			| The nest is typically in a tree hole, and eggs and young are fiercely defended against predators. This owl is non-migratory and highly territorial, and many young starve if they cannot find a vacant territory once parental care ceases.
		p.note
			| Image credit:
			a(href='http://en.wikipedia.org/wiki/File:Tawny_wiki_edit1.jpg') K.-M. Hansche
	.clear