<?php
	$name = ' ' . $data['first_name'];
?>
   <div id="contentheader">
   <div class="thanks center">
      <img class="left" src="<?=IMAGES_DIR?>/thanks.png" alt="" />
      <p><b>Thanks A LOT for donating<?=$name?>!</b> Your money will go towards hosting expenses and some creature comforts to keep development active for as long as possible!</p>
      <p>Make sure to check-out the <a href="<?=WEB_DIR?>/forum/">user forums</a> and <a href="<?=WEB_DIR?>/forum/forum/2/announcements">announcements</a> for release updates and support!</p>
      <img class="signiture" src="<?=IMAGES_DIR?>/signiture.png" alt="C. Thompson" />
      <div class="clear">&nbsp;</div>
   </div>
   </div>