<?php $title = 'Basic content' ?>

<div id="content" class="basic">
<div class="center">
   <h2>The links below have a basic tooltip attached. Mouse over to see them.</h2>
   <p><a href="#">Lorem ipsum dolor</a> sit amet, consectetur adipiscing elit. Duis massa metus, convallis vitae, mollis vel, feugiat vitae, nunc. Etiam a nisl. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce mattis fermentum elit. Mauris lorem. Duis a mi. Vivamus arcu elit, fermentum non, sagittis vitae, rhoncus in, metus. Pellentesque in tortor. Maecenas volutpat posuere purus. Sed sed dolor. Aenean nec ipsum. Nunc tristique dolor et enim. Sed libero ante, gravida et, sodales at, rhoncus sed, dui. Etiam velit nisi, hendrerit quis, cursus fringilla, tincidunt a, dolor. Morbi nec arcu vitae magna viverra adipiscing. <a href="#">Proin in purus vel</a> ligula porta suscipit. Pellentesque semper, risus varius interdum mattis, urna nisl interdum neque, sit amet luctus dolor dui vitae justo. Sed vulputate neque sed quam. Vestibulum sit amet risus. Vivamus est velit, tempus vel, condimentum ac, commodo eget, velit.</p>
   
   <p>Ut consequat sapien auctor arcu. <a href="#">Aenean gravida ligula</a> id arcu. Nulla eget quam eu metus ultricies elementum. Nam ac orci. Suspendisse potenti. Nunc hendrerit arcu nec sapien. Phasellus eu lacus porttitor nunc faucibus tempus. Phasellus ultrices, velit eu consequat eleifend, elit magna imperdiet dolor, vitae iaculis augue nisl <a href="#">vitae odio</a>. Sed ornare mi vel nisi. Donec purus sapien, semper et, lacinia ac, blandit rutrum, odio.</p>
   
   <p>Maecenas vestibulum dui. Morbi lectus. Pellentesque ut neque. Nulla sed neque. Cras vel erat. In quam. Cras quis massa in quam lacinia condimentum. <a href="#">Duis accumsan</a> dapibus lectus. Duis augue elit, tempor vel, laoreet sit amet, venenatis vitae, nisl. Integer a nibh. Phasellus iaculis sem vitae sem. Aenean non quam. Vivamus laoreet tempus tortor. Proin volutpat, nisl at sodales lobortis, libero justo tempus sapien, ac ornare massa turpis et nibh.</p>
   </p>
</div>
</div>

<script class="example" type="text/javascript">
// Create the tooltips only on document load
$(document).ready(function() 
{
   // Match all link elements with href attributes within the content div
   $('#content a[href]').qtip(
   {
      content: 'Some basic content for the tooltip' // Give it some content, in this case a simple string
   });
});
</script>